<html>
  <head>
    <title>The Maze Game</title>
    <meta name="description" content="Puzzle-game where the solver as to find a path from departure to end in limited amount of mouvments, developed by Nicolas DUBIEN" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
      
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <link href="/static/css/edit.css" type="text/css" rel="stylesheet" media="all" />

    <script src="/static/node/MapReader.js"></script>
    <script src="/static/js/WebDisplayer.js"></script>
    <script src="/static/js/WebEditor.js"></script>

    <script>
      var WebDisplayer = MazeGame.WebDisplayer;
      var WebEditor = MazeGame.WebEditor;

      var editor = undefined;
      var current_group_id = 1;
      var selected = undefined;

      function resizeEditor() {
        var width = document.getElementById('board_width').value;
        var height = document.getElementById('board_height').value;
        if (editor === undefined) {
          var displayer = new WebDisplayer(document.getElementById('screen'), undefined);
          editor = new WebEditor(displayer, width, height);
        }
        else {
          editor.resize(width, height);
        }
      }

      function refreshGroupCells() {
        current_group_id = parseInt(document.getElementById('board_group_id').value);

        {
          var displayer = new WebDisplayer(document.getElementById('elt_button_cell'), undefined);
          displayer.display(["b"], {0: {0: current_group_id}}, {}, {});
        }
        {
          var displayer = new WebDisplayer(document.getElementById('elt_door_cell'), undefined);
          displayer.display(["d"], {}, {0: {0: current_group_id}}, {});
        }
        {
          var displayer = new WebDisplayer(document.getElementById('elt_reversed_cell'), undefined);
          displayer.display(["r"], {}, {}, {0: {0: current_group_id}});
        }
      }

      function initEditor() {
        resizeEditor();
        refreshGroupCells();
      }

      function select(choosen, value) {
        selected = value;

        var elts = document.getElementsByClassName("game_element");
        for (var i = 0 ; i < elts.length ; ++i) {
          elts[i].removeAttribute("data-selected");
        }
        choosen.setAttribute("data-selected", undefined);
      }

      function clickScreen(event) {
        if (event.button == 0) {
          if (selected !== undefined) {
            editor.set(event, selected, current_group_id);
          }
        }
        else if (event.button == 2) {
          editor.set(event, ' ', current_group_id);
        }
      }

      function preventRightClick(event) {
        if (event.button == 2) {
          clickScreen(event);
          return false;
        }
        return true;
      }

      function preventMenu(event) {
        if(event.preventDefault != undefined) {
          event.preventDefault();
        }
        if(event.stopPropagation != undefined) {
          event.stopPropagation();
        }
        return false;
      }
    </script>
  </head>
  <body onload="javascript:initEditor()">
    <div class="container">
      <div id="game">
        <canvas id="screen" height="0" width="0"></canvas>
        <script type="text/javascript">
          document.getElementById('screen').addEventListener("click", clickScreen);
          document.getElementById('screen').addEventListener("mousedown", preventRightClick);
          document.getElementById('screen').addEventListener("contextmenu", preventMenu);
        </script>
      </div>
      <div id="game_config">
        <div class="game_parameter">
          <span>Width: </span>
          <input id="board_width" type="number" name="width" min="1" max="20" value="5" onchange="javascript:resizeEditor()" />
        </div>
        <div class="game_parameter">
          <span>Height: </span>
          <input id="board_height" type="number" name="height" min="1" max="20" value="5" onchange="javascript:resizeEditor()" />
        </div>
        <div class="game_parameter">
          <span>Group id: </span>
          <input id="board_group_id" type="number" name="height" min="1" max="6" value="1" onchange="javascript:refreshGroupCells()" />
        </div>
        <div class="game_elements">
          <div><img class="game_element" src="/static/img/start.png" onclick="javascript:select(this, 's')" /></div>
          <div><img class="game_element" src="/static/img/end.png" onclick="javascript:select(this, 'e')" /></div>
          <div><img class="game_element" src="/static/img/path.png" onclick="javascript:select(this, ' ')" /></div>
          <div><img class="game_element" src="/static/img/wall.png" onclick="javascript:select(this, '#')" /></div>
        </div>
        <div class="game_elements">
          <div><canvas class="game_element" id="elt_button_cell" onclick="javascript:select(this, 'b')" /></div>
          <div><canvas class="game_element" id="elt_door_cell" onclick="javascript:select(this, 'd')" /></div>
          <div><canvas class="game_element" id="elt_reversed_cell" onclick="javascript:select(this, 'r')" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
