<html>
  <head>
    <title>The Maze Game</title>
    <meta name="description" content="Puzzle-game where the solver as to find a path from departure to end in limited amount of mouvments, developed by Nicolas DUBIEN" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
      
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <script src="/static/node/MapReader.js"></script>
    <script src="/static/node/GameRunner.js"></script>
    <script src="/static/js/WebDisplayer.js"></script>

    <script>
      var GameRunner = MazeGame.GameRunner;
      var MapReader = MazeGame.MapReader;
      var WebDisplayer = MazeGame.WebDisplayer;
      var game = undefined;

      var initGame = function() {
        var raw = [
            [-1,97,-2,97,-3,97,97],
            [ 0,97, 1,97, 2,97,97],
            [98, 0, 0, 0, 0, 3,99]];
        var displayer = new WebDisplayer(document.getElementById('screen'));
        game = new GameRunner(displayer, raw);
      }
      
      window.addEventListener("keydown", function(e) {
        switch (e.keyCode) {
          case 37:
            game.move("left");
            e.preventDefault();
            break;
          case 38:
            game.move("up");
            e.preventDefault();
            break;
          case 39:
            game.move("right");
            e.preventDefault();
            break;
          case 40:
            game.move("down");
            e.preventDefault();
            break;
        }
      }, false);
    </script>
  </head>
  <body onload="javascript:initGame()">
    <div class="container">
      <div id="game">
        <canvas id="screen" height="0" width="0"></canvas>
      </div>
    </div>
  </body>
</html>
