<html>
  <head>
    <title>The Maze Game</title>
    <meta name="description" content="Puzzle-game where the solver as to find a path from departure to end in limited amount of mouvments, developed by Nicolas DUBIEN" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
      
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <script src="/static/node/Heap.js"></script>
    <script src="/static/node/MapReader.js"></script>
    <script src="/static/node/MazeSolver.js"></script>
    <script src="/static/node/GameRunner.js"></script>
    <script src="/static/js/WebDisplayer.js"></script>

    <script>
      var GameRunner = MazeGame.GameRunner;
      var MapReader = MazeGame.MapReader;
      var WebDisplayer = MazeGame.WebDisplayer;
      var MazeSolver = MazeGame.MazeSolver;
      var game = undefined;

      var initGame = function() {
        var displayer = new WebDisplayer(document.getElementById('screen'), document.getElementById('more'));
        var hash = window.location.hash.substring(1);
        var map_strings = hash.split(",");

        if (map_strings.length == 2) {
          var raw = MazeGame.stringsToRawData(map_strings);
          var door_times = {};
          var solver = new MazeSolver(raw, door_times);
          game = new GameRunner(displayer, raw, solver.minimumMoves(), door_times);
        }
        else {
          var raw = [
              [99, 0, 2, 0, 0],
              [11,97,12,97, 0],
              [ 0,97,-2,97,-2],
              [-1,97, 1,97, 0],
              [98, 0, 0, 2, 1]];
          var door_times = {1: 10, 2: 4};
          game = new GameRunner(displayer, raw, 18, door_times);
        }
      }
      
      window.addEventListener("keydown", function(e) {
        switch (e.keyCode) {
          case 37:
            game.move("left");
            e.preventDefault();
            break;
          case 38:
            game.move("up");
            e.preventDefault();
            break;
          case 39:
            game.move("right");
            e.preventDefault();
            break;
          case 40:
            game.move("down");
            e.preventDefault();
            break;
        }
      }, false);
    </script>
  </head>
  <body onload="javascript:initGame()">
    <div class="container">
      <div id="game">
        <canvas id="screen" height="0" width="0"></canvas>
        <div id="more" style="display:inline-block;width:195px;">
          <canvas class="gamerunner-life"></canvas>
          <div class="gamerunner-statuses"></div>
        </div>
      </div>
    </div>
  </body>
</html>
