<html>
  <head>
    <title>The Maze Game</title>
    <meta name="description" content="Puzzle-game where the solver as to find a path from departure to end in limited amount of mouvments, developed by Nicolas DUBIEN" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
      
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <script src="/static/node/Heap.js"></script>
    <script src="/static/node/MapReader.js"></script>
    <script src="/static/node/MazeSolver.js"></script>
    <script src="/static/node/GameRunner.js"></script>
    <script src="/static/js/WebDisplayer.js"></script>

    <script>
      var GameRunner = MazeGame.GameRunner;
      var MapReader = MazeGame.MapReader;
      var WebDisplayer = MazeGame.WebDisplayer;
      var MazeSolver = MazeGame.MazeSolver;
      var game = undefined;
      var solver = undefined;
      var last_hash = undefined;

      function updateHash(raw_data) {
        var map_strings = MazeGame.rawDataToStrings(raw_data);
        window.location.hash = "#" + map_strings[0] + "," + map_strings[1];
        document.getElementById('edit_level').setAttribute("href", "/edit" + window.location.hash);
      }

      var initGame = function() {
        var hash = window.location.hash.substring(1);
        if (hash == last_hash) {
          return;
        }

        var displayer = new WebDisplayer(document.getElementById('screen'), document.getElementById('more'));
        var map_strings = hash.split(",");

        var raw = undefined;
        var door_times = {};
        if (map_strings.length == 2) {
          raw = MazeGame.stringsToRawData(map_strings);
          door_times = {};
        }
        else {
          raw = [
              [99, 0, 2, 0, 0],
              [11,97,12,97, 0],
              [ 0,97,-2,97,-2],
              [-1,97, 1,97, 0],
              [98, 0, 0, 2, 1]];
          door_times = {1: 10, 2: 4};
        }
        solver = new MazeSolver(raw, door_times);
        game = new GameRunner(displayer, raw, solver.minimumMoves(), door_times);
        updateHash(raw);
      }

      function restartGame() {
        game.restart();
      }

      function solveGameAnimated(path, frame) {
        if (frame >= path.length) {
          return;
        }
        game.move(path[frame]);
        setTimeout(function() { solveGameAnimated(path, frame+1); }, 200);
      }

      function solveGame() {
        game.restart();
        console.log(solver.path());
        solveGameAnimated(solver.path(), 0);
      }

      function clickScreen(event) {
        if (event.button == 0) {
          game.moveClick(event);
        }
      }
      
      window.addEventListener("keydown", function(e) {
        switch (e.keyCode) {
          case 37:
            game.move("left");
            e.preventDefault();
            break;
          case 38:
            game.move("up");
            e.preventDefault();
            break;
          case 39:
            game.move("right");
            e.preventDefault();
            break;
          case 40:
            game.move("down");
            e.preventDefault();
            break;
        }
      }, false);
    </script>
  </head>
  <body onload="javascript:initGame()">
    <div class="container">
      <div id="game">
        <canvas id="screen" height="0" width="0"></canvas>
        <div id="more" style="display:inline-block;width:195px;">
          <canvas class="gamerunner-life"></canvas>
          <div class="gamerunner-statuses"></div>
        </div>
        <script type="text/javascript">
          document.getElementById('screen').addEventListener("click", clickScreen);
          window.onhashchange = initGame;
        </script>
      </div>
      <div>
        <a href="javascript:restartGame()">Restart</a>
      </div>
      <div>
        <a href="javascript:solveGame()">Solve</a>
      </div>
      <div>
        <a id="edit_level" href="javascript:void(0)" target="_blank">Edit this level</a>
      </div>
    </div>
  </body>
</html>
